{% extends 'online_shop_app/home.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <img class="card-img-top" src="{{ product.preview | media_filter }}">
                    <div class="card-body">
                        <p class="card-text">{{ product.name }}</p>
                        <p class="card-text">
                            {% if product.active_version != 'Нет активной версии' %}
                            Активная версия: {{ product.active_version }} (v{{ product.number_version }})
                            {% else %}
                            Нет активной версии
                            {% endif %}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                            </div>
                        </div>
                        <a href="{% url 'online_shop_app:product_detail' product.id %}"
                           class="btn btn-sm btn-dark mt-2">Подробнее</a>
                        {% if user.is_authenticated %}
                            {% if perms.online_shop_app.can_change_is_published and perms.online_shop_app.can_edit_description and perms.online_shop_app.can_edit_category or user == online_shop_app.owner %}
                            <a href="{% url 'online_shop_app:product_update' product.id %}"
                                class="btn btn-sm btn-dark mt-2">Редактировать</a>
                            {% endif %}
                            <a href="{% url 'online_shop_app:product_delete' product.id %}"
                                class="btn btn-sm btn-danger mt-2">Удалить</a>
                            <a href="{% url 'online_shop_app:version_add' product.id %}"
                                class="btn btn-sm btn-success mt-2">Добавить версию</a>
                            {% if product.versions.count > 0 %}
                            <a href="{% url 'online_shop_app:version_update' product.versions.last.id %}"
                                class="btn btn-sm btn-primary mt-2">Редактировать последнюю версию</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}