{% extends 'online_shop_app/home.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Сброс пароля</h2>
            <form method="post">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-dark">
                            Сбросить пароль
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}